{
  "SOURCE_INSTANCE": "",
  "SOURCE_DB_PASSWORD": "",
  "SOURCE_USERNAME": "",
  "SOURCE_PASSWORD": "",
  "TARGET_INSTANCE": "",
  "TARGET_DB_PASSWORD": "",
  "TARGET_USERNAME": "",
  "TARGET_PASSWORD": ""
}
